header {
  opacity: 0;
  animation: ani 1s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.gif {

display:block; /* Устанавливаем */


background:url('../imgs/БольшеИгр.png') no-repeat; /* Заливаем блок статичной картинкой */

}

/* Как видно, начальное (статическое) изображение задано как фон блока с шириной и высотой этого изображения. */

a.gif img {

visibility:hidden; /* Aнимация не была видна в ситуации, когда мышь не наведена */

}

a.gif:hover {

background:none; /* Фон (статичное изображение) не было видно при наведении мыши */

}

a.gif:hover img {

visibility:visible; /* При наведении анимация показывается */

border:0; /* без обрамления ;) */

}